---
layout: default
title: Sam's Blog
---
<div class="container">
	<h4>{{ page.title }}</h4>

 
      <!-- This loops through the paginated posts -->
       <ul class="collection with-header">
        <li class="collection-header"><h4>Publicaciones</h4></li>
{% for post in paginator.posts %}
		<li class="collection-item"><div><span>{{ post.date | date_to_string }}</span> » {{ post.title }}<a href="{{ post.url }}" class="secondary-content"><i class="material-icons">send</i></a></div></li>  
{% endfor %}
 </ul>
<!-- Pagination links -->
<ul class="pagination">
  {% if paginator.previous_page %}
  <li class="waves-effect"><a href="{{ paginator.previous_page_path }}"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
    <li class="disabled"><i class="material-icons">chevron_left</i></li>
  {% endif %}
  <!--
  {% for num in (1...paginator.total_pages) %}
  <li class="waves-effect"><a href="#!">{{num}}</a></li>
{% endfor %}-->
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
    <li class="waves-effect"><a href="{{ paginator.next_page_path }}"><i class="material-icons">chevron_right</i></a></li>
  {% else %}
    <li class="disabled"><i class="material-icons">chevron_right</i></li>
  {% endif %}
</ul>
</div>
