---
layout: default
title: Sam's Blog
---
<div class="container">
	<h4>{{ page.title }}</h4>

 
      <!-- This loops through the paginated posts -->
       <ul class="collection with-header">
        <li class="collection-header"><h4>Publicaciones</h4></li>
{% for post in paginator.posts %}
		<li class="collection-item"><div><span>{{ post.date | date_to_string }}</span> » {{ post.title }}<a href="{{ post.url }}" class="secondary-content"><i class="material-icons">send</i></a></div></li>  
{% endfor %}
 </ul>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</div>
